<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="normal/user_base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Contact</title>
</head>
<body>
    <section class="d-flex justify-content-center align-items-center">
        <div class="col-md-4 col-sm-10 col-10" style="margin-top: 15px;">
            <form class="signupform rounded"><br>
                <h3 style="color: white; text-align: center;">Add new contact!</h3><br><br>
                <div class="mb-3">
                    <input type="text" name="name" class="form-control" id="" placeholder="Name">
                </div>
                <div class="mb-3">
                    <input type="text" name="email" class="form-control" id="" placeholder="Email">
                </div>
                <div class="mb-3">
                    <input type="text" name="phone" class="form-control" id="" placeholder="Phone">
                </div>
                <div class="mb-3">
                    <input type="text" name="city" class="form-control" id="" placeholder="City">
                </div>
                <div class="mb-3">
                    <textarea type="text" name="description" class="form-control" rows="3" id="" placeholder="Description"></textarea>
                </div>
                <br>
                <div class="text-center">
                    <button type="submit" class="btn btn-outline-light">Add Contact</button>
                </div>
            </form>
        </div>
    </section>
</body>
</html>